@import url('https://fonts.googleapis.com/css2?family=Kumar+One&family=Warnes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumar+One&family=Warnes&display=swap');

.Nav_bar_container {
    width: 100%;
    height: 60px;

    background: linear-gradient(243deg, rgba(75,58,180,1) 0%, rgba(47,29,253,0.9334719334719335) 50%, rgba(69,182,252,1) 100%);
    border-radius: 0px 0px 20px 20px;
    border: 2.5px solid #1f5080;
    box-shadow: 10px 10px 10px 1px black;
    opacity: 95%;

    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
}

.Name_style {
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;

    text-shadow: 3px 0px 0px white;
    color: #2c3808;
    letter-spacing: 2px;

    display: flex;
    justify-content: left;
    align-items: center;

    margin-left: 6px;
    margin-top: 6px;

    position: relative;

    &::after{
        content: "";
        width: 197px;
        height: 5px;
        background: white;
        box-shadow: inset 1px 1px 1px 1px black;;
        border-radius: 10px;

        position: absolute;
        bottom: 10px;

    }

    &:hover {
        &::before{
            content: "👋";
    
            position: absolute;
            left: 200px;

            animation: waving-hand 2.5s infinite;
            transform-origin: 70% 70%;
            
        }
    }
    
  }

@keyframes waving-hand {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4.0deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.Button_style {
    display: flex;
    
    font-size: 1.25rem;
    font-family: "Warnes", serif;
    font-weight: 400;
    font-style: normal;
    color: white;

    position: relative;
}

.Button_element {
    margin-right: 20px;
    margin-top: 15px; 
    
}
 
.one {
    &:hover {
        &::after{
            content: "";
            width: 95px;
            height: 39px;
            background: linear-gradient(0deg, rgba(143,124,193,1) 0%, rgba(182,173,231,1) 45%, rgba(105,68,194,1) 100%);
            box-shadow: 1px 1px 10px 1px  black;;
            border-radius: 10px;
    
            position: absolute;
            bottom: 0px;
            left: -1px;
            right: 0px;
            top: 10px;
            z-index: -1;
    
        }
    
    }
}

.two {
    &:hover {
        &::after{
            content: "";
            width: 125px;
            height: 39px;
            background: linear-gradient(0deg, rgba(143,124,193,1) 0%, rgba(182,173,231,1) 45%, rgba(105,68,194,1) 100%);
            box-shadow: 1px 1px 10px 1px  black;;
            border-radius: 10px;
    
            position: absolute;
            bottom: 0px;
            left: 105px;
            right: 0px;
            top: 10px;
            z-index: -1;
    
        }
    }
}

.three {
    &:hover {
        &::after{
            content: "";
            width: 105px;
            height: 39px;
            background: linear-gradient(0deg, rgba(143,124,193,1) 0%, rgba(182,173,231,1) 45%, rgba(105,68,194,1) 100%);
            box-shadow: 1px 1px 10px 1px  black;;
            border-radius: 10px;
    
            position: absolute;
            bottom: 0px;
            left: 237px;
            right: 0px;
            top: 10px;
            z-index: -1;
    
        }
    }
}

.four {
    &:hover {
        &::after{
            content: "";
            width: 100px;
            height: 39px;
            background: linear-gradient(0deg, rgba(143,124,193,1) 0%, rgba(182,173,231,1) 45%, rgba(105,68,194,1) 100%);
            box-shadow: 1px 1px 10px 1px  black;;
            border-radius: 10px;
    
            position: absolute;
            bottom: 0px;
            left: 350px;
            right: 0px;
            top: 10px;
            z-index: -1;
    
        }
    }
}

